/* Universal style */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* 1. Header */

header {
  background-color: black;
  color: white;
}

header .container {
  display: flex;
  align-items: center;
}

.logo {
  height: 1.5rem;
  padding-left: 0.5rem;
}

header span {
  padding: 0.66rem 1rem;
}

/* 2. Banner */
.banner {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.banner-info {
  position: relative;
  top: 9rem;
  width: 20rem;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 2rem 3rem;
}

h1 {
  font-size: 2rem;
  padding-top: 0.25rem;
}

/* 3. Navigation */
nav {
  background-color: firebrick;
}

ul {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0.75rem 0;
}

/* 4. Products */
.product .image {
  width: 9rem;
  height: 9rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.image img {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 2rem 0;
}

.product {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid black;

}

.product .description {
  background-color: black;
  color: white;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.products {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
  flex-wrap: wrap;
}

/* 5. Info */
.info {
  width: 35%;
}

.title {
  background-color: black;
  color: white;
  width: 100%;
  padding: 1rem 0 1rem 2rem;
}

.business-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}

/* Footer */
footer {
  background-color: black;
  height: 5rem;
  color: white;
  display: flex;
  align-items: center;
}

footer .container {
  width: 100%;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .tablet {
    display: none;
  }
}

/* Tablet */
@media only screen and (max-width: 1024px) {
  nav .container {
    display: none;
  }
  ul {
    justify-content: center;
  }
  .product {
    width: 47%;
  }

  .glasses {
    display: none;
  }
}

/* Mobile */
@media only screen and (max-width: 470px) {
  .banner {
    height: 15rem;
  }

  .banner-info {
    top: 10rem;
    width: 100%;
    padding: 1rem 2rem;
  }

  h1 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.77rem;
  }

  .product {
    width: 90%;
  }

  .products {
    justify-content: center;
  }

  .watch {
    display: none;
  }

  .info {
    width: 90%;
  }

  .business-info {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .hours {
    margin-top: 0.5rem;
  }

  footer .container {
    text-align: center;
  }
}
